# Shared configuration for the monorepo.

# apps/web

WEB_LOCAL_API_BASE_URL=http://localhost:5000
WEB_LOCAL_MIXPANEL_TOKEN=

WEB_PRODUCTION_API_BASE_URL=https://api.v2.ufabcnext.com
WEB_PRODUCTION_MIXPANEL_TOKEN=

# apps/core

OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_SECRET=abcdefghijklmnopqrstuvwxyz

AXIOM_TOKEN=
AXIOM_DATASET=

NOTION_INTEGRATION_SECRET=
NOTION_DATABASE_ID=

WHATSAPP_AUTH_SECRET=
UFABC_PARSER_REQUESTER_KEY="example-requester"

NEXT_AGENT_URL=
